.userPhoto {
    width: 100px;
    height: 100px;
}

.selectPage {
    font-weight: bold;
}

.pagination {
    padding: 0;
    margin: 10px 0;
}

.pagination li {
    display: inline-block;
    cursor: pointer;
    padding: 0 5px;
    margin-right: 5px;
}