.header {
    grid-area: h;
    background-color: palegreen;
}

.header img {
    width: 20px;
}

.sectionFriends {

}

.listFriends {
    display: flex;
}

.listFriendsItem {
    margin-left: 5px;
    margin-right: 5px;

}

.listFriends img {
    display: block;
    height: 40px;
    width: 40px;
    border-radius: 100%;
    margin: 0 auto;
}